<div class="row">
    <div class="col-md-6">
        <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

        <table class="table table-striped table-condensed" ng-table="tableParams">
            <tbody>
                <tr ng-repeat="transaction in $data">
                    <td data-title="'Date'" sortable="'date'">{{transaction.date}}</td>
                    <td data-title="'Description'" sortable="'desc'">{{transaction.desc}}</td>
                    <td data-title="'Amount'" sortable="'acc_amount'">{{transaction.acc_amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
